{% extends "app/layout.html" %} {% block content %}
<h3>{{ title }}</h3></br>
<h3>{{ message }}</h3></br>
<strong>ВэлТур+ — международный туристический оператор, организующий туры для путешественников из России, стран СНГ и Восточной Европы.  </strong> </br>Предлагаем для наших туристов отдых в любой стране мира. Сотрудничаем только с надёжными и проверенными туроператорами России , что обеспечивает безопасность и качество Вашего отдыха.</br>Сотрудники регулярно посещают семинары, рекламные туры с целью ознакомления со страной и отельной базой.Своими наработками мы с удовольствием делимся с нашими клиентами.</br>Главный принцип нашей работы-качественный , внимательный и индивидуальный подход к каждому клиенту.</br>«ВэлТур+» предлагает широкий спектр услуг: туры на отдых, экскурсионные туры(авиа, ж/д, автобус), бронирование отелей по всему миру, бронирование авиабилетов, морские и речные круизы, обучение за рубежом, оформление виз. </br>
За годы успешной работы наша компания приобрела бесценный опыт, о чем свидетельствуют лестные отзывы наших постоянных клиентов.</br>

{% endblock %}