{% extends "app/layout.html" %} {% block content %}
<h1>{{ title }}</h1></br>
<h3>{{ message }}</h3></br>
<p>Кипр – идеальное место для отдыха. Расположенный в Средиземном море остров с мягкими золотистыми пляжами год от года привлекают все больше туристов. Здесь никогда не бывает скучно. Кипр – это остров танцев. В многочисленных клубах с ночи до утра продолжается веселье. Помимо насыщенной ночной жизни Кипр славится и своими красивыми пейзажами. В нем сочетаются густые кедровые леса и мягкие пляжи. Погода на Кипре всегда теплая, что создает идеальные условия для отдыха. Вам предложат комфортабельные номера в первоклассных отелях, позволяющих в полной мере насладиться атмосферой этого острова.</p>
<h4>Площадь</h4>
<p>Территория Кипра занимает 9250.00 км².</p>
<h4>Население</h4>
<p>На Кипре проживает 793963 человек.</p>
<h4>Язык</h4>
<p>Официальный язык – греческий и турецкий.</p>
<h4>Климат</h4>
<p>Климат на Кипре субтропический средиземноморский. Средняя температура летом +25–35°С, зима - + 10–15°С. Летом достаточно жарко, а зимой дождливо. Лучшим временем для отдыха на Кипре является период с июня по сентябрь.</p>
<h4>Достопримечательности</h4>
<p>На Кипре вы увидите множество достопримечательностей, на которых стоит обратить внимание. В стране постоянно ведутся археологические раскопки. Из достопримечательностей Кипра можно выделить средневековый замок Колосси, искусные мозаики на вилле Диониса, форт Петру ту Ромиу, где по легенде родилась Афродита, церковь святого Лазаря в Ларнаке. В столице Кипра, Никосии, очень много памятников древности. Это и знаменитые венецианские стены, и церковь Трипиотис, восхищающая своим роскошным убранством, и турецкие бани Бюйюк-Хамам, известные еще с доосманских времен. В городе Лимасол находится музей средневековья, где представлены рыцарские доспехи, монеты разных лет и многое другое. Недалеко от города возвышается Лимассольский замок, переживший войны и стихийные бедствия. У любого из городов Кипра есть своя интересная история, каждый исторический памятник хранит свою увлекательную легенду.</p>
{% endblock %}