{% extends "app/layout.html" %} {% block content %}
<h1>{{ title }}</h1></br>
<h3>{{ message }}</h3></br>
<p>Тунис – это страна, удивительным образом сочетающая в себе восточные и европейские черты. Поездки по Сахаре, прогулки на верблюдах, талассотерапия, посещение шумных рынков и красивых мечетей – все это придает Тунису удивительный восточный колорит. Развитая инфраструктура первоклассных отелей, прекрасные пляжи и прозрачное море, чистота городов и вежливость населения добавляют стране европейские черты. Разнообразие видов отдыха по относительно низким ценам делает Тунис одним из популярных курортов мира.</p>
<h4>Площадь</h4>
<p>Территория Туниса занимает 163610.00 км².</p>
<h4>Население</h4>
<p>В Тунисе проживает 10383577 человек.</p>
<h4>Язык</h4>
<p>Официальный язык - арабский. Также население говорит и на французском. В туристических зонах понимают английский язык.</p>
<h4>Климат</h4>
<p>Климат в Тунисе умеренный средиземноморский. Зима мягкая, а лето сухое и жаркое. Средняя температура декабря +16С, июля - +26С. Самый жаркий месяц – август. Температура воздуха достигает +45-50С. Лучшее время для отдыха в Тунисе – период с сентября по ноябрь и с марта по июнь.</p>
<h4>Достопримечательности</h4>
<p>Тунис известен своим знаменитым Карфагеном, одним из величайших городов древности. Туристы со всего мира съезжаются и в город Дугга, сохранивший античный облик со времен правления римлян. Среди достопримечательностей можно отметить Капитолий, посвященный Юпитеру, Юноне и Минерве, святилище Юноны Целесты, а также Мавзолей пунической эпохи. В городе Эль Джем находится третий в мире по величине римский Колизей. Город Кайруан славится своими фабриками ковровых изделий. Ковры вышиваются по старинной восточной традиции. Именно поэтому они так красивы и пользуются большим спросом среди туристов. В Монастире расположен Дворец конгрессов, а также мавзолей Бургибы. В городе Махдия стоит прогуляться по старому кварталу Медина, окруженному древними крепостными стенами. Главной достопримечательностью города является крепость Борж эр-Рас, в древности использовавшаяся в качестве тюрьмы. На остров Джерба уже многие столетия подряд собираются паломники, чтобы посетить древнюю синагогу Гриба.</p>
{% endblock %}