{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h2>Турция</h2>
        <p>
           Отдых на побережье солнечной Турции радует теплым морем, отличным сервисом и любимым "Все включено". Но отдых можно разнообразить зажигательными концертами, живой музыкой и красочными шоу.
        <p><a class="btn btn-default" href="{% url 'turkey' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Россия</h2>
        <p>
            Туристические возможности России огромны, как и сама страна. Можно каждый год открывать для себя что-то новое и ни разу не повториться.
        </p>
        <p><a class="btn btn-default" href="{% url 'russia' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Тунис</h2>
        <p>
            Страна, где Европа встречается с арабской Африкой. Сюда приезжают, в первую очередь, за идеальным пляжным отдыхом: мелкий белый песок, чистейшее море, комфортабельные отели - на любом курорте Туниса всего этого будет в избытке.
        </p>
        <p><a class="btn btn-default" href="{% url 'tunisia' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Греция</h2>
        <p>
            Отдых в Греции ассоциируется, в первую очередь, с островами, разбросанными во всех четырех морях. У каждого острова неповторимый характер, каждый может похвастать богатой историей – как античной, так и православной. 
        </p>
        <p><a class="btn btn-default" href="{% url 'greece' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Испания</h2>
        <p>
           Испания входит в тройку самых посещаемых стран мира, ежегодно она принимает более пятидесяти миллионов туристов, причем многие, посетив ее один раз, возвращаются сюда снова и снова. Ведь поездка в Испанию – это встреча с солнцем, морем, хорошей кухней, гостеприимством и радостью жизни, это возможность открыть для себя богатейшее культурно-историческое наследие, принять участие в традиционных народных праздниках и насладиться великолепными пейзажами.
        </p>
        <p><a class="btn btn-default" href="{% url 'spain' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Кипр</h2>
        <p>
           Кипр часто называют Островом Афродиты. В античные времена на Кипре, неподалеку от Пафоса, находилось известное во всем древнем мире святилище этой богини любви и красоты. Во время занимательных экскурсий по острову можно посетить пещеру, которую называют гротом Афродиты, а так же пляж, на который, согласно поверьям, вышла из морской пены эта прекрасная богиня.
        <p><a class="btn btn-default" href="{% url 'cyprus' %}">Узнать больше &raquo;</a></p>
    </div>

</div>
{% endblock %}